# Carthage
Carthage/*

# macOS
.DS_Store

# Xcode
*.xcodeproj/
*~.nib
*.pbxuser
*.perspective
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Ignoring some Info.plist
BeatmapAR/Info.plist
